body,html{
    height:100%;
    margin:0px;
    font-family:"Lato", sans-serif;
    font-size:12px;
    font-weight:400px;
    line-height: 1.8em;
    color: #666;
}

.pimg1, .pimg2, .pimg3{
    position: relative;
    opacity:0.70;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    background-attachment:fixed;
}
.pimg1{
    background-image:url("image1.jpg");
    min-height:100%;
}

.pimg2{
    background-image:url("image3.jpg");
    min-height: 400px;
}

.pimg3{
    background-image:url("image2.jpg");
    min-height:400px;
}

.section{
    text-align:center;
    padding:50px 80px;
}

.section-dark{
    background-color:#282e34;
    color: #ddd;
}
.section-light{
    background-color:#fff;
    color:#666;
}

.para-text{
    top:50%;
    width:100%;
    position:absolute;
    text-align:center;
    text-transform:uppercase;
    letter-spacing:6px;
    font-size:18px;
    color:#000;
}

.para-text .border{
    background-color: #111;
    padding:20px;
    color:#ddd;
}

.para-text .trans{
    background-color: transparent;
}

